[Desktop Entry]
Version=1.0
Type=Application

Name=Catalyst
Comment=Lightning-fast and powerful code editor written in Rust
Categories=Development;IDE;
GenericName=Code Editor
StartupWMClass=catalyst

Icon=dev.catalyst.catalyst
Exec=catalyst %F
Terminal=false
MimeType=text/plain;inode/directory;
Actions=new-window;

[Desktop Action new-window]
Name=New Window
Exec=catalyst --new %F
Icon=dev.catalyst.catalyst
